.post{
    width: 90%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

@media (max-width: 560px) {
    .post{
        width: 100%;
    }
}

.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post-avatar{
    margin-right: 10px;
}

.post-topInfo > h3{
    font-size: medium;
}

.post-topInfo > p{
    font-size: small;
    color: gray;
}


.post-morehoriz-btn{
    transform: scale(1.2);
}

.delete-div{
    box-shadow: 2px 4px 8px lightgray;
    padding: 6px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 60px;
}

@media (max-width: 470px) {
    .delete-div{
        right: 5px;
    }
}

.delete-container{
    display: flex;
    padding: 5px 30px 5px 5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

@media (max-width: 470px) {
    .delete-container{
        display: flex;
        padding: 3px 20px 3px 3px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }
}

.delete-container:hover{
    background-color: #eff2f5;
    cursor: pointer;
}
.select-option{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: white;
    top: 0;
    left: 0;
    border-radius: 12px;
}

.delete-container > p{
    font-size: 18px;
    font-weight: 550;
    margin-left:5px;
    color: #414244;
}

@media (max-width: 470px) {
    .delete-container > p{
        font-size: 16px;
        margin-left: 0;
    }
    .delete__post__btn{
        transform: scale(0.8);
    }
}

.close-delete-div{
    position: absolute;
    right: 26px;
    top: -16px;
    transform: scale(1.5);
    color: lightgray;
    border-radius: 50%;
}

.delete-post{
    border: 1px solid transparent;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    border-radius: 15px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.deletePost__header{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
}

.deletePost__header > p{
    font-size: 18px;
    text-align: center;
    font-weight: 670;
}

@media (max-width: 470px) {
    .deletePost__header > p{
        font-size: 16px;
        text-align: center;
        font-weight: 570;
    }
}

.deletePost__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yes-btn, .no-btn{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 20px;
    background-color: #1876F2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 470px) {
    .yes-btn, .no-btn{
        font-size: 15px;
        font-weight: 500;
    }
}

.no-btn{
    margin-left: 45px;
    background-color: rgb(255, 56, 56);
}

.post-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post-image > img{
    width: 100%;
}

.post__under{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info__like__comment{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.like_{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.like_:hover{
    border-bottom: 1px solid gray;
}
.like_ > p{
    font-size: 16px;
    padding-left: 8px;
    color: #65676B;
}
.comment > p{
    font-size: 16px;
    color: #65676B;
    border-bottom: 1px solid transparent;
}

@media (max-width: 470px) {
    .like_ > p, .comment > p{
        font-size: 15px;
    }
}

.comment > p:hover{
    border-bottom: 1px solid #65676B;
    cursor: pointer;
}

.post-options{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    color: gray;
    /* cursor: pointer; */
    padding: 10px 0;
}

.post-option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.post-option > p{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #65676B;
}

@media (max-width: 560px) {
    .post-option{
        align-items: center;
    }
    .post-option > p{
        font-size: 14px;
        margin-left: 5px;
        font-weight: 500;
    }
    .post_option_btn{
        transform: scale(0.8);
    }
}

.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.write__comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
}
.comments{
    width: 100%;
    /* max-height: 50px; */
    background-color: white;
}

.commend{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.commend_sender_avatar{
    transform: scale(1.1);
}

@media (max-width: 470px) {
    .commend_sender_avatar{
        transform: scale(0.9);
    }
}

.comment__body{
    background-color: #F0F2F5;
    padding: 15px 10px;
    border-radius: 18px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    word-break: break-all;
    max-width: 350px;
}

@media (max-width: 470px) {
    .commend__text{
        font-size: 16px;
    }
}

.delete-comment-modal{
    border: none;
    outline: none;
    width: 600px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 3px 5px 10px lightgray;
}

.deleteComment-header > p{
    font-size: 24px;
    font-weight: 750;
    margin-left: 20px;
}

.deleteComment-body{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.deleteComment-body > p{
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.confrim_or_reject__delete{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
}

.cancel__btn__comment{
    font-size: 20px;
    color: #1876F2;
    font-weight: 600;
    padding: 5px 12px 7px 12px;
    text-align: inherit;
    border-radius: 8px;  
    transition: all 0.3s ease-in-out; 
}
.cancel__btn__comment:hover{
    background-color: #eff2f5;
    cursor: pointer;
}

.delete__btn__comment{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding: 5px 12px 7px 12px;
    text-align: inherit;
    border-radius: 8px;
    background-color: #1876F2; 
    margin-left: 10px; 
    cursor: pointer;
}

.delete__comment__div{
    box-shadow: 3px 5px 8px lightgray;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    background-color: white;
    right: -22px;
    top: 40px;
}

.delete__comment__div > p{
    font-size: 18px;
    font-weight: 550;
    padding: 4px 50px 4px 4px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 470px) {
    .delete__comment__div > p{
        font-size: 15px;
    }
}

.delete__comment__div > p:hover{
    background-color: #eff2f5;
    cursor: pointer;
}

.arrow-delete-comment{
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    top: 0;
    color: #eff2f5;
}

.deleteComment-header{
    padding-top: 19px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid gray;
    position: relative;
}




.username{
    font-weight: 500;
}

@media (max-width: 470px) {
    .username{
        font-size: 16px;
    }
}

.like_commed{
    display: flex;
    padding-left: 10px;
    position: relative;
}
.like, .reply{
    font-weight: 750;
    color: #65676B;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    cursor: pointer;
}

@media (max-width: 470px) {
    .like, .reply{
        font-weight: 550;
        font-size: 14px;
    }
    .time > p{
        font-size: 14px;
    }
}

.sender{
    border: none;
    outline: none;
}

.replied_com{
    border-left: 3px solid lightgray;
    padding-left: 4px;
    margin: 5px 0;
}
.replied_com > p{
    color: #65676B;
}

@media (max-width: 470px) {
    .replied_com > p{
        font-size: 14px;
    }
}

.expand_more_info_amount_comment{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.expand_more_info_amount_comment>p{
    font-size: 16px;
}

.expand_more, .info_amount_comment{
    color: #65676B;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    width: fit-content;
}

@media (max-width:560px) {
    .expand_more, .info_amount_comment{
        font-weight: 400;
        font-size: 16px;
    }
    .expand_more:hover{
        border-bottom: 2px solid transparent;
    }
}

.expand_more:hover{
    border-bottom: 2px solid #65676B;
    cursor: pointer;
}

.like-comment_{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    right: -30px;
    bottom: 20px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px lightgray ;
    border-radius: 999px;
    padding: 2px 4px 2px 3px;
}
.like-comment_ > p{
    margin-left: 5px;
}

.users_click_like{
    width: 600px;
    max-height: 290px;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
}




.users_who_click_like{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.users_click_like_header{
    border-bottom: 1.5px solid lightgray;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.users_click_like_header>p{
    text-align: left;
    margin-left: 20px;
    color: #2078F4;
    border-bottom: 2px solid #2078F4;
    width: fit-content;
    padding: 2px 10px 10px 10px;
    cursor: pointer;
}

.info_user_who_click_like{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    border-radius: 13px;
}
.info_user_who_click_like:hover{
    background-color: #F0F2F5;
}

.info_user_who_click_like>p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.info_user_who_click_like>p:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}


.closeModal__btn{
    margin-right: 10px;
    cursor: pointer;
    background-color: #E4E6EB;
    padding: 3px;
    border-radius: 50%;
    transform: scale(1.2);
}

.user__img{
    width: 50px;
    height: fit-content;
    border-radius: 50%;
    position: relative;
}

.add__friend__btn{
    display: flex;
    background-color: #E4E6EB;
    border-radius: 8px;
    padding: 8px;
    margin-left: auto;
    cursor: pointer;
}

.add__friend__btn>p{
    font-size: 18px;
    font-weight: 650;
    margin-left: 5px;
}

@media (max-width: 470px) {
    .users_who_click_like{
        padding-left: 0;
        padding-right: 0;
    }
    .info_user_who_click_like>p{
        font-size: 16px;
        font-weight: 500;
    }
    .user__img{
        transform: scale(0.7);
    }
    .add__friend__btn>p{
        font-size: 14px;
        font-weight: 500;
    }
    .info_user_who_click_like>p:hover{
        border-bottom: 1px solid transparent;
    }
    .deleteComment-header > p{
        font-size: 20px;
    }
}