.comment_{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.comment-avatar{
    transform: scale(1.2);
    margin-right: 10px;
}

.emoji_with_input{
    width: 100%;
    word-break: break-all;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 999px;
}
.emoji_with_input > input{
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
}
.emoji-icon_{
    cursor: pointer;
}
.picker{
    box-shadow: 0 10px 12px gray;
}

